<link rel="import" href="/bower_components/polymer/polymer.html"></link>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<dom-module id="socket-chat">
  <template>
    <link rel="stylesheet" href="socket-chat.css">
    <ul id="conversation"></ul>
    <input id="message" autocomplete="off" />
    <span id="users_text" hidden="true">Send to:</span> <select id="users" hidden="true"></select>
    <button id="send">Send</button>
  </template>
  <script>
  Polymer({
    is: 'socket-chat',
    properties: {
      user: String,
      admin: Boolean
    },
    ready: function() {
      var socket = io();
      var user = (this.admin ? 'admin' : this.user);

      // Initialization
      if (user === 'admin') {
        socket.on('admin-started', function() {
          $('#users_text').show();
          $('#users').show();
          // Sending
          $('#send').click(function() {
            socket.emit('chat', {
              to: $('#users').val(),
              text: $('#message').val()
            });
            $('#conversation').append($('<li>').text("["+new Date()+"] "+user+" said: " + $('#message').val()));
            $('#message').val('');
          });
        });
        socket.emit('admin-start');
      } else {
        socket.on('user-started', function() {
          // Sending
          $('#send').click(function() {
            socket.emit('chat', {
              from: user,
              text: $('#message').val()
            });
            $('#conversation').append($('<li>').text("["+new Date()+"] "+user+" said: " + $('#message').val()));
            $('#message').val('');
          });
        });
        socket.emit('user-start', {user: user});
      }

      // Receiving
      socket.on('chat', function(message) {
        var from;
        if (user === 'admin') {
          from = message.from;
          var found = $("#users option[value='"+from+"']").text()
          if (found === undefined || found === "") {
            $('#users').append('<option value="'+from+'">'+from+'</option>')
          }
        } else {
          from = 'Customer support - ADMIN';
        }
        $('#conversation').append($('<li>').text("["+new Date()+"] "+from +" said: " + message.text));
      });

      socket.on('chat-error', function(message) {
        $('#conversation').append($('<li>').text("["+new Date()+"] "+ message.error));
      });

      socket.on('user-disconnect', function(message) {
        if (user === 'admin') {
            $('#users').find('option[value="'+message.user+'"]').remove();
            $('#conversation').append($('<li>').text("["+new Date()+"] "+ message.user + " DISCONNECTED"));
        }
      });

    }
  });
  </script>
</dom-module>
