<link rel="import" href="/bower_components/polymer/polymer.html"></link>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/components/socket-chat.js"></script>
<dom-module id="socket-chat">
  <template>
    <link rel="stylesheet" href="socket-chat.css">
    <div id="chat">
      <div class="left" hidden="true">
        <p id="users_text">Talking with:</p>
        <ul id="users"></ul>
      </div>
      <div class="right">
        <ul id="conversation"></ul>
      </div>
      <div class="separator"></div>
      <div class="bottom">
        <input id="message" autocomplete="off" />
        <button id="send">Send</button>
      </div>
    </div>
  </template>
  <script>
  Polymer({
    is: 'socket-chat',
    properties: {
      user: String,
      admin: Boolean
    },
    ready: function() {
      var socket = io();
      var user = SocketChat.getCurrentUser(this.admin, this.user);
      SocketChat.onChatStarted(socket, user);
      SocketChat.onChat(socket, user);
      SocketChat.onChatError(socket, user);
      SocketChat.onUserDisconnect(socket, user);
    }
  });
  </script>
</dom-module>
