@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

body {
  font-family: 'Arial' sans-serif;
  font-size: 1em;
}

header {
  width: 100%;
  background-color: black;
  text-align: center;
  vertical-align: middle;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 4em;
  color: white;
  margin-bottom: 50px;
}


form {
  background: #b4df5b;
  background: radial-gradient(ellipse at center,  #b4df5b 0%,#91ce21 100%);
  width: 300px;
  padding: 10px;
  border: 1px solid #000;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
}

input {
  text-align: center;
  margin: 5px;
}
